@font-face {
  font-family: "juice";
  src: url("fonts/juice-webfont.woff2") format("woff2"),
    url("fonts/juice-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansbold";
  src: url("fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

.root {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  height: 100%;
  position: relative;
}

.header-background {
  width: 100%;
  height: 100vh;
}

.header-navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 11vh;
  justify-content: center;
  width: 100vw;
}

.header-navbar-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-navbar-container:first-child {
  margin-right: 220px;
}

.header-navbar-container-item-text {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "open_sansbold";
  width: 133px;
  height: 100%;
}

.header-logo {
  position: absolute;
  padding-top: 25px;
  left: 50%;
  transform: translate(-50%);
}

.header-worktime {
  position: absolute;
  width: 20vw;
  height: 89vh;
  top: calc(100px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-worktime-item {
  bottom: 0;
  color: white;
  display: flex;
  font-family: "open_sansbold";
  transform: rotate(-90deg);
  font-size: 15px;
}

.header-bottom-line {
  width: 2px;
  height: 12%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}

.header-dropdown {
  width: 7vh;
  height: 7%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 7vh;
  position: absolute;
  left: 50%;
  bottom: 12%;
  transform: translate(-50%);
}

.header-top-line {
  width: 2px;
  height: 55%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: calc(19% + 2px);
}

.header-mainlogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 46%;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  height: 20%;
}

.header-mainlogo-item {
  margin-top: 2.5vh;
}

.header-mainbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%);
}

.header-mainbuttons-button1 {
  width: 200px;
  height: 60px;
  color: white;
  margin-right: 2vw;
  border: 1px solid rgba(232, 195, 0, 1);
  border-radius: 5px;
  background-color: rgba(232, 195, 0, 1);
  transition-duration: 0.4s;
  font-family: "open_sansbold";
}

.header-mainbuttons-button1:hover {
  background: transparent;
}

.header-mainbuttons-button2 {
  width: 200px;
  height: 60px;
  margin-left: 2vw;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  transition-duration: 0.4s;
  font-family: "open_sansbold";
}

.header-mainbuttons-button2:hover {
  border: 1px solid rgba(232, 195, 0, 1);
}

.header-dropdown-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-dropdown-center-button {
  position: relative;
  height: 5vh;
  width: 5vh;
  color: white;
  border: 1px solid white;
  border-radius: 5vh;
  transition-duration: 0.4s;
}

.header-dropdown-center-button:hover {
  height: 5.5vh;
  width: 5.5vh;
  border-radius: 5.5vh;
}

.header-socials {
  position: absolute;
  width: 20vw;
  height: 89vh;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  right: 0%;
  top: calc(100px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.header-socials-item {
  margin-right: 4vw;
  margin-bottom: 3vh;
}

.header-social:last-child {
  margin-bottom: 0;
}

.header-socials-item-btn {
  background-color: transparent;
  width: 7vh;
  height: 7vh;
  border-radius: 7vh;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition-duration: 0.4s;
}

.header-socials-item-btn:hover {
  border: 2px solid rgba(232, 195, 0, 1);
}

.aboutus {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.aboutus-fire {
  margin-top: 8vh;
  padding-bottom: 4vh;
  position: relative;
  width: 45%;
  height: 45%;
  margin-bottom: auto;
  margin-top: auto;
}

.aboutus-text {
  text-align: center;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.aboutus-text-title {
  font-family: "open_sansbold";
  font-size: 6vh;
}

.aboutus-text-other1 {
  font-size: 2.5vh;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.aboutus-text-other2 {
  font-size: 2vh;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

.ourteam {
  position: relative;
  width: 100vw;
  height: 80vh;
}

.ourteam-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ourteam-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 6vh;
}

.ourteam-main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin-top: 10vh;
}

.ourteam-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50vw;
}

.ourteam-main-chef {
  position: relative;
  width: 40%;
  height: 40%;
  margin-bottom: auto;
  margin-top: auto;
}

.ourteam-main-info-title {
  font-family: "open_sansbold";
  color: white;
  font-size: 6vh;
}

.ourteam-main-info-text1 {
  font-size: 2.5vh;
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ourteam-main-info-text2 {
  font-size: 2vh;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  color: white;
}

.booking {
  position: relative;
  padding-top: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

.booking-img {
  position: relative;
  width: 45%;
  height: 45%;
  margin-bottom: auto;
  margin-top: auto;
}

.booking-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50vw;
}

.booking-info-title {
  font-family: "open_sansbold";
  font-size: 50px;
}

.booking-info-forms {
  display: flex;
  flex-direction: row;
  margin-top: 4vh;
}

.booking-info-forms-input {
  display: flex;
  flex-direction: column;
}

.booking-info-forms-input-item {
  height: 6vh;
  width: 15vw;
  background: rgba(229, 229, 229, 1);
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 0.7vh;
  margin-bottom: 0.7vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7vh;
}

.booking-info-book {
  width: 31.5vw;
}

.booking-info-book-btn {
  width: 100%;
  height: 6vh;
  font-family: "open_sansbold";
  background: rgba(232, 195, 0, 1);
  color: white;
  border: 2px solid rgba(232, 195, 0, 1);
  border-radius: 0.7vh;
  transition-duration: 0.4s;
}

.booking-info-book-btn:hover {
  border: 2px solid white;
}

.specialties {
  position: relative;
  width: 100vw;
  height: 80vh;
}

.specialties-main-dish {
  position: relative;
  width: 40%;
  height: 40%;
  margin-bottom: auto;
  margin-top: auto;
}

.specialties-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.specialties-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 6vh;
}

.specialties-main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin-top: 10vh;
}

.specialties-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50vw;
}

.specialties-main-info-title {
  font-family: "open_sansbold";
  color: white;
  font-size: 6vh;
}

.specialties-main-info-text1 {
  font-size: 2.5vh;
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.specialties-main-info-text2 {
  font-size: 2.2vh;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  color: white;
}

.specialties-footer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.specialties-footer-btn {
  width: 1.3vh;
  height: 1.3vh;
  border-radius: 1.3vh;
  border: 0px;
  margin-left: 1vw;
  background: white;
  transition-duration: 0.4s;
}

.specialties-footer-btn:hover {
  background: rgba(232, 195, 0, 1);
}

.menu-main {
  width: 100vw;
}

.menu-info {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
  margin-bottom: 3vh;
}

.menu-info-title {
  font-family: "open_sansbold";
  font-size: 6vh;
}

.menu-info-text {
  font-size: 2.5vh;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-categories {
  width: 55vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.menu-categories-item {
  height: 6vh;
  width: 11vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.7vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-right: 2px solid rgba(51, 51, 51, 0.2);
}

.menu-main {
  margin-top: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}

.menu-main-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-main-bar-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.menu-main-bar-item-info {
  font-family: "juice";
  font-size: 2vh;
}

.menu-main-bar-item-optional {
  font-size: 1.5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(51, 51, 51, 0.5);
}

.events {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.events-bg {
  position: absolute;
  width: 100%;
}

.events-title {
  left: 50%;
  transform: translate(-50%);
  margin-top: 6vh;
  position: absolute;
  height: 1.3vh;
  width: 13vw;
}

.events-main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin-top: 10vh;
}

.events-main-weddings {
  position: relative;
  width: 40%;
  height: 40%;
  margin-bottom: auto;
  margin-top: auto;
}

.events-main-parties {
  position: relative;
  width: 40%;
  height: 40%;
  margin-bottom: auto;
  margin-top: auto;
}

.events-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.events-footer-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8vh;
}

.galerie {
  position: relative;
  width: 100vw;
}

.galerie-bg {
  width: 100%;
}
